<section id="regular_header">
	<div class="header">

		<div class="headerstandard">
			<%= link_to image_tag("FullLogo.png", size:"300x40"), root_path %>
		</div>
		<div class="headerright">
			<%= yield :main_navigation %>
		</div>

	</div>
</section>
<section id="mobile_header">
	<div class="header">
		<div class="headermobile">
			<%= link_to image_tag("FullLogo.png", size:"500x70"), root_path %>
		</div>

		<div class="headerright">
			<%= yield :main_navigation %>
		</div>

	</div>
</section>

<section id="iphone_header">
		<div class="headeriphone">
			<%= link_to image_tag("FullLogo.png", size:"450x50"), root_path %>
		</div>

		<div class="headerright">
			<%= yield :main_navigation %>
		</div>
</section>