<% content_for :main_navigation do %>

	<nav id="main_nav" role="navigation">
	  <ul>
	    <%= nav_tab 'Home', pages_landing_path, current: current_tab %>
	    <%= nav_tab 'Find', '#', current: current_tab %>
	    <%= nav_tab 'Analyze', '#', current: current_tab %>
	    <%= nav_tab 'Negotiate', '#', current: current_tab %>
	    <%= nav_tab 'Fund', '#', current: current_tab %>
	    <%= nav_tab 'Manage', '#', current: current_tab%>
	  </ul>
	 </nav>

<% end %>