<!DOCTYPE html>
<html>
<head>
  <title>TrackingSpace!</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta content="True" name="HandheldFriendly">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<meta name="viewport" content="width=device-width">

	<script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: true,
        animationSpeed: 600,
        directionNav: true,
        touch: true, 
        animation: "slide",
        slideshowSpeed: 3500,
      });
    });
  </script>

</head>
<body>

<div class="container">
  <div class="header">
    <%= render 'layouts/header' %>
  </div>

  <% if notice %>
  	<p class="notice"><%= notice %></p>
  <% elsif alert %>
  	<p class="alert"><%= alert %></p>
  <% end %>

  <div class="yield">
  	
    <%= yield %>

  </div>
  
</div>

<div class="clearfooter"></div>

<%= render 'pages/footer' %>

</body>

</html>
