<html>
<head>
  <title>TrackingSpace!</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta content="True" name="HandheldFriendly">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<meta name="viewport" content="width=device-width">
</head>

<body>

	<%= yield %>

	<%= render 'pages/footer' %>

</body>

</html>